<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs")  %> 
  <body>
    <div class="home" id="home">
      <%- include("./partials/header.ejs")  %> 

      <section id="inicio" class="home">
        <article class="hero-image" style="--hero-image: url('/images/presentacion.jpg'); --hero-attachment: fixed;">
            <aside class="hero-image-opacity" style="--hero-opacity-color: rgba(0,0,0,0.4);">
                <div class="hero-image-content">
                    <h2 class="hero-image-title" style="--hero-textcolor: var(--white-color);">
                        Bienvenid@s a<br>
                        <span style="--hero-textcolor: var(--white-color);">Tu Hospedale Delta.</span>
                    </h2>
                    <div class="button-down">
                      <a class="move" href="#atardecer"><i class="fas fa-chevron-down"></i></a>
                    </div>
                </div>
            </aside>
        </article>
      </section>
      
      <section class="slider">
        <article class="hero-image" style="--hero-image: url('/images/slider-bg.jpeg'); --hero-attachment: fixed;">
          <aside class="hero-image-opacity" style="--hero-opacity-color: rgba(0,0,0,0.7);">
              <div class="hero-image-content">
                <div class="video-content" id="atardecer">
                  <h3>Aqui podras encontrarte con este maravilloso atardecer...</h3>
                  <video src="/images/presentacion/<%= imagenes[0] %> " autoplay loop muted controls data-smart-video></video>
                </div>
                <div class="video-content">
                  <h3>O con este maravilloso bosque...</h3>
                  <video src="/images/presentacion/<%= imagenes[1] %> " autoplay loop muted controls data-smart-video></video>
                </div>
                <div class="video-content">
                  <h3>Espero que ya andes con ganas de emprender esta aventura...</h3>
                  <video src="/images/presentacion/<%= imagenes[2] %> " autoplay loop muted controls data-smart-video></video>
                </div>
              </div>
          </aside>
        </article>
      </section>



      <section>
        <article class="hero-image" style="--hero-image: url('/images/seccion2.png'); --hero-attachment: fixed;">
            <aside class="hero-image-opacity" style="--hero-opacity-color: rgba(0,0,0,0.4);">
                <div class="hero-image-content">
                    <h2 class="hero-image-title" style="--hero-textcolor: var(--white-color);">
                        Y ahora conoce los mejores<br>
                        <span class="span-title" style="--hero-textcolor: var(--white-color);">Hogares para disfrutar este paraiso</span>
                    </h2>
                    <div class="button-down">
                      <a class="move" href="#puerto-gallo"><i class="fas fa-chevron-down"></i></a>
                    </div>
                </div>
            </aside>
        </article>
      </section>


     <section class="hogares">
        <article class="hero-image" style="--hero-image: url('/images/slider-bg.jpeg'); --hero-attachment: fixed;">
          <aside class="hero-image-opacity" style="--hero-opacity-color: rgba(0,0,0,0.5);">
              <div class="hero-image-content">
                <section id="puerto-gallo">
                  <article class="puerto-gallo">
                    <div class="hogar">
                      <img src="/images/puerto-gallo-home.png" class="card-img-top img-fluid puerto-gallo-img" alt="Puerto Gallo">
                      <div class="card-body">
                        <h5 class="card-title">Puerto Gallo</h5>
                        <p class="card-text">Puerto Gallo es una bella y acogedora casa para 10 personas, ubicada sobre el Rio Espera, Delta del Tigre, a 70 minutos del puerto en lancha colectiva de la empresa interisleña y a 20 minutos en lancha remis o particular."</p>
                        <a href="/puerto-gallo" class="btn btn-primary">¡Conoce más!</a>
                      </div>
                    </div>
                  </article>
                  <article class="chana">
                    <div class="hogar">
                      <img src="/images/chanapresentacion.jpg" class="card-img-top" alt="Chana">
                      <div class="card-body">
                        <h5 class="card-title">Chana</h5>
                        <p class="card-text">Chaná es una cómoda cabaña de 50 metros cuadrados ubicada sobre el rio Espera, a unos 500 metros hacia el norte de la boca del Canal 8, en una zona muy tranquila de la Primera Sección de islas del delta de Tigre.</p>
                        <a href="/chana" class="btn btn-primary">¡Conoce más!</a>
                      </div>
                    </div>
                  </article>
                  <article class="timbu">
                    <div class="hogar">
                      <img src="/images/timbu.jpg" class="card-img-top" alt="Timbu">
                      <div class="card-body">
                        <h5 class="card-title">Timbu</h5>
                        <p class="card-text">Timbú es una cómoda cabaña de 45 metros cuadrados ubicada sobre el rio Espera, a unos 500 metros hacia el norte de la boca del Canal 8, en una zona muy tranquila de la Primera Sección de islas del Tigre.</p>
                        <a href="/timbu" class="btn btn-primary">¡Conoce más!</a>
                      </div>
                    </div>
                  </article>
                </section> 
        
                <div class="button-up">
                  <a class="move" href="#home"><i class="fas fa-chevron-up"></i></a>
                </div>
              
              </div>
          </aside>
        </article>
      </section> 
      <%- include("./partials/whatsapp.ejs")  %>
      <article class="hero-image-footer" style="--hero-image: url('/images/slider-bg.jpeg'); --hero-attachment: fixed;">
        <aside class="hero-image-opacity-footer" style="--hero-opacity-color: rgba(0,0,0,0.7);">
            <div class="hero-image-content">
              <%- include("./partials/footer.ejs") %>
            </div>
        </aside>
      </article>
      
    </div>
    <script src="/javascripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  </body>
</html>